<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-1" id="nav-bg">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="https://nauka.s-vfu.ru/offers/linglab_arctic/block/logo_w.png"></a>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div id="page-wrapper" class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Events">Events</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Gallery">Gallery</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Projects">Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Publications">Publications</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Staff">Staff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
