@page "/Gallery"
@using Microsoft.AspNetCore.Localization
@model AlbumModel
@{
    ViewData["Title"] = "Gallery";

	var albumImage = (Dictionary<Album, FileContent>) ViewData["album"];
	var albumTotal = (int) ViewData["albumTotal"];
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
}
@{
	
	try
	{
		<div class="container">
			@for (int i = 0; i < albumTotal/2+albumTotal%2; i++)
			{
				<div class="h-50 row" style="margin-bottom: 40px">
					@for (int j = 0; j < ((i*2+1==albumTotal)?1 : 2); j++)
					{
						var image = albumImage.Values.ElementAt(i*2+j);
						var data = albumImage.Keys.ElementAt(i*2+j);
						<div class="col-6 align-center coverdiv">
							<img loading="lazy" class="cover" src="data:image;base64,@Convert.ToBase64String(image.Content)" alt="">
							<div class="bottom-left">
								<h1>
									@{
										if (culture == "en")
										{
											<a asp-area="" asp-page="/Gallery" asp-route-id="@data.Id">@data.Name.English</a>
										}
										else
										{
											<a asp-area="" asp-page="/Gallery" asp-route-id="@data.Id">@data.Name.Russian</a>
										}
									}
								</h1>
							</div>
						</div>
					}
				</div>
			}
		</div>
	}
	catch (Exception e)
	{
		<p>NULL</p>
	}
}