@page "{language?}"
@model RedirPageModel
@{
    Layout = null;
}
<!doctype html>
<title>Site Maintenance</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<style>
  html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
  * {box-sizing: border-box;}
  body { text-align: center; padding: 0; background: #FF8C00; color: #fff; font-family: Open Sans; }
  h1 { font-size: 50px; font-weight: 100; text-align: center;}
  body { font-family: Open Sans; font-weight: 100; font-size: 20px; color: #fff; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
  article { display: block; width: 700px; padding: 50px; margin: 0 auto; }
</style>

<article>
    <img src="/images/Secondlogo.png" alt="" style="margin-left: -45px;">
    <h1>We&rsquo;ll be back soon!</h1>
    <div>
        <p>Sorry for the inconvenience. The page you are trying to access cannot be loaded. Please try again later.</p>
        <p>Извиняемся за неудобство. Cтраница, к которой вы пытаетесь получить доступ, не может быть загружена. Пожалуйста, попробуйте позже.</p>
    </div>
    <asp:button id="backButton" OnClientClick="JavaScript:window.history.back(1);return false;" runat="server" text="Back"></asp:button>
</article>