@page "/Events"
@using LEotA.Services
@using Microsoft.AspNetCore.Localization
@model LEotA.Pages.EventsModel
@{
	ViewBag.Title = "Events";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
}
@functions{

	public void EventRoleGive()
	{
		 
	}
}

<div class="container border border-2">
	@* @{ *@
	@* 	// try *@
	@* 	// { *@
	@* 	// 	foreach (var _event in ((List<Event>) ViewData["event"])) *@
	@* 	// 	{ *@
	<div class="row" style="border:none; background:white; min-height:210px; max-height:350px;">
		<div class="col-xs-6 img-wrap mb-2">
			<img src="DROL4632.JPG" style="margin-left:4px; margin-top: 4px;" />
		</div>
		<div class="col mb-2">  
			<h3 class="align-center">Event Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa.</p>
			<a target="_blank" class="btn btn-primary btn-dark align-center" style="display: block; margin: 0 auto;" href="https://google.com">Записаться</a>
		</div>
	</div>
</div>

<div class="container border border-2">
	<div class="row" style="border:none; background:white; min-height:210px; max-height:350px;">
		<div class="col-xs-6 img-wrap mb-2">
			<img src="DROL4632.JPG" style="margin-left:4px; margin-top: 4px;"/>
		</div>
		<div class="col mb-2">
			<h3 class="align-center">Event Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a target="_blank" class="btn btn-primary btn-dark align-center" style="display: block; margin: 0 auto;" href="https://google.com">Записаться</a>
		</div>
	</div>
	@* 		} *@
	@* 	} *@
	@* 	catch (Exception e) *@
	@* 	{ *@
	@* 		<p>NULL</p> *@
	@* 	} *@
	@* } *@
</div>
@* @section Scripts *@
@* { *@
@* 	function EventFunction(){ *@
@* 		$("a").html('	 *@
@* 	} *@
@* } *@
