@page "/Events"
@model EventsModel
@{
    ViewData["Title"] = "Amogus!!!!!";
}
@foreach (var donk in Model.events)
{
	<div class="container">
		<h2>@donk.Name</h2>
		<p> @donk.Text </p>
		<a href="@donk.EmbedLink" class="btn btn-primary">REGISTER</a>
	</div>
}