@page "/Events"
@model LEotA.Pages.EventsModel
@{
	ViewBag.Title = "My Home Page";
	;
}
<div class="container border border-2">
	<h2>About Us</h2>
	@foreach (var e_vent in Model.eventViewModelList)
    
	{
		<h2 class="align-center"> @e_vent.Event.Name </h2> 
		<tr>
			@foreach (var e_Image in e_vent.Image) 
			{
				<img class = "float-right" src="data:image/jpeg;base64,@Convert.ToBase64String(e_Image.ImageRaw)"/>
				<p class="align-center"> @e_vent.Event.Text </p>
			}
		</tr>
        
		<p class="align-center"> @e_vent.Event.EmbedLink </p> 
	}
</div>