@page "/Gallery/{id}"
@using Microsoft.AspNetCore.Localization
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
  var images = (Dictionary<Album, List<FileContent>>)ViewData["albumId"];
  var totalimage = images.Values.First().Count / 4;
  var lastimages = images.Values.First().Count % 4;
  if (lastimages != 0)
  {
    totalimage++;
  }
  var j = 1;
}
@{
  try
  {

    @if (HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name == "en")
    {
      <h2 style="text-align:center">@images.Keys.First().Name.English</h2>
    }
    else
    {
      <h2 style="text-align:center">@images.Keys.First().Name.Russian</h2>
    }
    <div class="container">
      @for (int i = 0; i < totalimage; i++)
      {
        <div class="row mb-2">
          @if (i == totalimage-1)
          {
            foreach (var x in images.Values.First().GetRange(i*4,lastimages))
            {
              <div class="col-3 coverdiv">
                <img src="data:image;base64,@Convert.ToBase64String(@x.Content)" class="hover-shadow cursor cover">
              </div>
              j++;
            }
          }
          else
          {
            foreach (var x in images.Values.First().GetRange(i * 4, 4))
            {
              <div class="col-3 coverdiv">
                <img src="data:image;base64,@Convert.ToBase64String(@x.Content)" class="hover-shadow cursor cover">
              </div>
              j++;
            }
          }
        </div>
      }
    </div>
  }
  catch (Exception e)
  {
    <p>NULL</p>
  }
}