@page
@model LEotA.Pages.TestModel

<div class="text-center">
    <h1 class="display-4">Looking kinda sus</h1>
    @* @foreach (var product in Model._aboutUsList) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@product.Id</td> *@
    @*         <td>@product.Text</td> *@
    @*         <td>@product.Image</td> *@
    @*     </tr> *@
    @* } *@
    @* <li><a href="/AdminPanel">Contact</a></li> *@
    <a asp-page="/AdminPanel">Admin</a>
    <br>
    <a asp-page="/Login">Admin Login</a>
    
    @{
        ViewData["Title"] = "Home Page";
    }
     
     
    @if(User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
     
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-page="/Login">Вход</a>
        <a asp-page="/Register">Регистрация</a>
        <a asp-page="/SignUpTest">TEST</a>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>