@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal
@inject IStringLocalizer<IndexModel> _localizer
@inject IHtmlLocalizer<IndexModel> _htmlLocalizer
@model LEotA.Pages.TestModel
@{
    ViewData["Title"] = "Home page";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="text-center">
    <h1 class="display-4">@_localizer["Welcome"]</h1>
    <p>@_htmlLocalizer["Learn"]</p>
    <a asp-page="/AdminPanel">Admin</a>
    <br>
    <a asp-page="/Login">Admin Login</a>
    
    @{
        ViewData["Title"] = "Home Page";
    }
     
     
    @if(User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
     
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-page="/Login">@requestCulture.UICulture.Name</a>
        <a asp-page="/Register">Регистрация</a>
        <a asp-page="/GetClientSecretTestPage">TEST</a>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>