@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model LEotA.Pages.LoginModel

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @{
        <p>
            @ViewData["tokens"]
        </p>
    }
</div>
</body>
</html>