@page "/Login"
@model LEotA.Models.LoginViewModel
 
<h2>Вход в приложение</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="text" name="email"/>
    </div>
    <div>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="text" name="Email"/>
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>