@page
@model LEotA.Pages.MaterialsPage

<!DOCTYPE html>


<h1>Список альбомов</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1BeyXgLYEQxvZzmtsNehdSqoyZVUqQFEo#list" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Выездная лекция в рамках Летней научной школы по методологии социолингвистических исследований, 30.06.2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1sjk2u4hBODWrlAZidbEuVnpmP0vAFDH4#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>КПК Возможности платформы ЛингвоДок для описания языков народов Севера, 9-15 июня 2022</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1DMzj9vM-PO_qSDbeBSKn3V8ZYw8oXeJB#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Летняя научная школа по методологии социолингвистических исследований, июнь 2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1jNJ5gvtP7PFtyNH1Eh2_xDZDc2nd62SN#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Научно-методический семинар Современная социолингвистика концепции, методы, задачи, октябрь 2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1aVT_G7RelAQ2lS_IoOPTSiy57ZBWz0Tl#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Анабарский район, август-сентябрь 2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1GKHx3cVjH9yjS9LdmaUZW-yqY6xkzfeS#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Оленекский улус, март 2022</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1DdVB4qNJaeoG-DU3A19aP7DPxk3hhTUn#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Респонденты из села Березовка Среднеколымкого района, июнь 2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=160_9DCs1ELPfhd3LxJbmS9dT2GoJRGVE#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Таттинский район, март 2022</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1YwqMyry-OipLxttONqtYlalh8ACxn4Pd#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Хангаласский район, Октемцы, 29.04.22</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1CvDhW2dPcZuHzuJLu79R8XOhmTGpt21j#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Эвено-Бытантайский улус, декабрь 2021</h1>
<div class="container mb-4">
     <iframe src="https://drive.google.com/embeddedfolderview?id=1QSVMTNvPPmcxZAwXm570Dv8wQcV-_VlA#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Нерюнгри, Алдан, сентябрь 2022</h1>
<div class="container mb-4">
    <iframe src="https://drive.google.com/embeddedfolderview?id=11UMzJApHYFHJXW2cpSszErrK6bBE2UtL#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>

<h1>Полевые исследования. Олекминский район, октябрь, 2022</h1>
<div class="container mb-4">
    <iframe src="https://drive.google.com/embeddedfolderview?id=1H8_v5G3LTXFmHWgs49cw1QnSzRbWEd0E#grid" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
</div>