@page
@model LEotA.Pages.MaterialsPage

<!DOCTYPE html>

@{
     try
     {
          if (User.Identity.IsAuthenticated)
          {
               <div class="container">
                    <iframe src="https://drive.google.com/embeddedfolderview?id=0B1iqp0kGPjWsNDg5NWFlZjEtN2IwZC00NmZiLWE3MjktYTE2ZjZjNTZiMDY2#list" style="width:100%; height:600px; border:0; align-content: center;"></iframe>
               </div>
          }
     }
     catch (Exception e)
     {
          <p>NULL</p>
     }
}