@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@model ProjectsModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "LULE";
	var culture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
}
@{
	try
	{
		<div class="container border border-2">
			@foreach (var _project in (IEnumerable<Project>) ViewData["projects"])
			{
				<div class="row" style="border:none; background:white; min-height:210px; max-height:350px;">
					<div class="col mb-2">
						<h3 class="align-center">Project Name</h3>
						<p>
							@if (culture == "en")
							{
								@_project.Text.English
							}
							else
							{
								@_project.Text.Russian
							}
						</p>
						<a target="_blank" class="btn btn-primary btn-dark align-center" style="display: block; margin: 0 auto;" href="@_project.EmbedLink">Project Link</a>
					</div>
					<div class="col-xs-6 img-wrap mb-2">
						<img src="/DROL4632.JPG" style="margin-left:4px; margin-top: 4px;" alt=""/>
					</div>
				</div>
			}
		</div>
	}
	catch (Exception e)
	{
		<p>NULL</p>
	}
}