@page
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "SUS!";
}
<div class="container border border-2">
	<div class="row" style="border:none; background:white; min-height:210px; max-height:350px;">
		
		<div class="col mb-2">  
			<h3 class="align-center">Event Name</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa.</p>
			<a target="_blank" class="btn btn-primary btn-dark align-center" style="display: block; margin: 0 auto;" href="https://google.com">Записаться</a>
		</div>
		<div class="col-xs-6 img-wrap mb-2">
			<img src="DROL4632.JPG" style="margin-left:4px; margin-top: 4px;" />
		</div>
	</div>
</div>