@page
@{
    ViewData["Title"] = "MODS";
}

<div class="py-5">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3">Our Team</h3>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 align-center">
                        <img src="https://www.s-vfu.ru/upload/iblock/268/2689334e95e478cd9cde4ac792db1f24.JPG" alt="wrapkit" class="img-fluid rounded-circle" style="height: 200px"/>
                    </div>
                    <div class="col-md-12 text-center border border-dark" style="height:250px">
                        <div class="align-center">
                            <h5 class="mt-4 font-weight-medium mb-0">Людмила Софроновна Заморщикова</h5>
                            <h6 class="subtitle mb-3">Профессор, доцент, кандидат филологических наук. </h6>
                            <ul class="list-inline bottomize">
                                <li class="list-inline-item border"><a class="btn btn-outline-light btn-floating m-1 text-black-50" role="button"><i class="fas fa-inbox mr-3"></i>Email Address</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4 ml-3">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 align-center">
                        <img src="https://www.s-vfu.ru/upload/main/249/2495ff09ad0f87cfbc65411c50b074da.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="height: 200px"/>
                    </div>
                    <div class="col-md-12 text-center border border-dark" style="height:250px">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Кысылбаикова Марина Ильнична</h5>
                            <h6 class="subtitle mb-3">Доцент, Кандидат филологических наук по специальности 10.02.19 - Теория языка </h6>
                            <ul class="list-inline align-center bottomize" >
                                <li class="list-inline-item border"><a class="btn btn-outline-light btn-floating m-1 text-black-50" role="button"><i class="fas fa-inbox mr-3"></i>Email Address</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    </div>
</div>