# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LEotA.Engine.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\Desktop\repos\he\LEotA\LEotA.Engine\.idea\.idea.LEotA.Engine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
