@page
@using LEotA.Pages
@using LEotA.Clients
@model TestModel
@* @code{ *@
@*     string message = new string("message"); *@
@*     string name = new string("name"); *@
@* } *@

<div class="text-center">
    <h1 class="display-4">Looking kinda sus</h1>
    
    @* <input type="text" id="message" name="message" required *@
    @*        minlength="4" maxlength="8" size="10"> *@
    @* <input type="text" id="name" name="name" required *@
    @*            minlength="4" maxlength="8" size="10"> *@
        <input id="Button1" type="button" value="@TestModel.OnPostAboutUs(new List<string>(){"message","name"})" asp-page-handler="AboutUs"/>

    @* <input id="Button1" type="button" value="@TestModel.OnPostAboutUs(new List<string>(){"message","name"})"/> *@
    @* <input id=Button1" type=button" value="@TestModel.OnPostAboutUs(new List<string>(){"message","name"})" onclick="document.getElementById('Text1').value = this.value" /> *@

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* @functions *@
@* { *@
@*     public static string PostAboutUs(string message, string name) *@
@*     { *@
@*         return (EngineClient.PostAboutUs(message, name).Result); *@
@*     } *@
@* *@
@*     private object PostAboutUs() *@
@*     { *@
@*         throw new NotImplementedException(); *@
@*     } *@
@* } *@
@* @section Scripts *@
@* { *@
@*     <script> *@
@*     // let name = "name"; *@
@*     // let message = "message"; *@
@*     function PostAboutUsButton(){ *@
@*         $("button").html('@PostAboutUs() *@
@*         } *@
@*     </script> *@
@* } *@
