@page
@using Microsoft.EntityFrameworkCore
@model LEotA.Pages.TestModel

<div class="text-center">
    <h1 class="display-4">Looking kinda sus</h1>
    @* @foreach (var product in Model._aboutUsList) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@product.Id</td> *@
    @*         <td>@product.Text</td> *@
    @*         <td>@product.Image</td> *@
    @*     </tr> *@
    @* } *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
