@page
@model LEotA.Pages.TestModel    
@* @foreach (var product in Model._aboutUsList) *@
    @* { *@
<div class="text-center">
    <h1 class="display-4">Looking kinda sus</h1>
    @* @foreach (var product in Model._aboutUsList) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@product.Id</td> *@
    @*         <td>@product.Text</td> *@
    @*         <td>@product.Image</td> *@
    @*     </tr> *@
    @* } *@
    <div class="container border border-2">
            
    </div>
    <div class="container border border-2">
                
    </div>
    <div class="container border border-2">
                
    </div>
    
        
</div>
@*}*@
