# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.LEotA.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\user\Desktop\repos\he\LEotA\.idea\.idea.LEotA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
