<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
<header id="header">
    @await Html.PartialAsync("HeaderPartial")
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    @await Html.PartialAsync("FooterPartial")
</footer>
@await Html.PartialAsync("scriptPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>