@using LEotA.Services
@inject CommonLocalizationService localizer
<div class="g-color-white-opacity-0_8">
  <div class="container">
      <div class="row mt-5">
        <div class="col ">@localizer.Get("FooterSocial")
          <ul class="u-list-inline hidden-sm-down">
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <div>
          <small class="d-block mr-5 ">@localizer.Get("Footer")</small>
        </div></div>
</div>
