@page "home/amogus"
@{
    ViewData["Title"] = "Amogus!!!!!";
}

<div class="text-center">
    <h1 class="display-4">Looking kinda sus</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>