@{
    ViewData["Title"] = "MODS";
    string message = new string("message");
    string name = new string("name");
}

<div class="text-center">
    <h1 class="display-4">I'm Chicken</h1>
    <p>MODS PERMABAN VADIKUS AND SAMME1G.</p>
</div>