@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,800&display=swap');
html, body, div, a, img, ul, li, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Alegreya', serif;
}
html, body {
    overflow: auto;
    min-height: 100%;
}
footer, header,  nav{
    display: block;
}
body {
    line-height: 1.6;
}
.hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.is-indented {
    text-indent: 20px;
}
.is-indented-2{
    text-indent: 40px;
}
hr{
    --tw-border-opacity: 1;
    border-color: #0d5460;
    max-width:100px;
}
.img-text{
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.card-full {
    background-color: transparent !important;
    border: 0;
}
.img-wrap {
    width: 200px;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.img-wrap > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
ul {
    list-style: none;
}
img{
    max-width:100%;
    max-height:100%;
}
.floatingimg{
    float: right;
}
.eventimage > .col-md-3 > img{
    float: right;
    margin-bottom: 2px;
    margin-right: 2px;
    height: 8.75rem;
}
body {
    -webkit-text-size-adjust: none;
}

/* Basic */
body {
    -ms-overflow-style: scrollbar;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

.bottom-left {
    background-color: grey;
    position: absolute;
    bottom: 8px;
    left: 16px;
    opacity: 0.6;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-left > h1 > a{
    color: white; !important;
    font-family: 'Alegreya', serif;
}
select#culture-options {
    background-color: #0c5460;
}

body, input, select, textarea {
    color: #777;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

a {
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #e89980;
    text-decoration: none;
}
a:hover {
    color:peru;
    border-bottom-color: beige;
    text-decoration: none;
}
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Container */

.main-container {
    margin: 0 auto;
    margin-top: 3em;
    max-width: calc(100% - 5em);
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
    margin-bottom: 10px;
}
.container {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 60em;
    font-size: 1.375rem;
    line-height: 2.125rem;
}
.news-container{
    position: relative;
}
.news-container > .bottom-left {
    background-color: white;
    left:0;
}
.first_container {
    margin: 0 auto;
    width: 100%;
}
.subtitle{
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}
.targetDiv{
    display: none;
}
.p_with_text{
    margin-bottom: 5px;
}
.hide{
    display: none;
}
.bottomize{
    bottom:0;
    position: absolute;
}
.header-bottomize{
    bottom:0;
}
.bottom_event{
    margin-top: 70px;
    font-size: 50px;
}
.align-center ul{
    display: inline-block;
    margin:0;
    padding:0;
    *display: inline;
}
.align-center ul li{
    float: left;
}

/* Header */
#lower-nav{
    clear:both;
}
#nav-bg{
    background-image: url("../images/background LEA.jpg");
}
/* Footer */

footer{
    clear: both;
    position: relative;
    height: 9.375em;
    margin-top: -9.375em;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    height: 100%;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coverdiv{
    text-align:center;
}
.cover {
    object-fit: cover;
    width: 100%;
    height:12em;
}
.bottom-left:hover{
    opacity: 1;
}
.eventcard{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    width: 100%;
}
.big{
    font-size: 12.5rem;
    margin-top: 1.25rem;
}
.nav-item:hover{
    background-color: #eeeeee;
}
.carousel-caption{
    bottom: 1.9em;
    background-color: gray;
    opacity: 0.8;
    left:0;
    right:0;
}
.carousel-indicators{
    bottom: 1.5em;
}
.event_button{
    width:auto;
    margin:0 auto;
}
.carousel-item{
    transition:none;
}
/*Media do not touch*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    
}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}