@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
html, body, div, a, img, ul, li, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer, header,  nav{
    display: block;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;
    background-color: #1c2331;
}


body {
    line-height: 4;
}

ul {
    list-style: none;
}
img{
    max-width:100%;
    max-height:100%;
}
.floatingimg{
    float: right;
}

body {
    -webkit-text-size-adjust: none;
}

/* Basic */
body {
    -ms-overflow-style: scrollbar;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

select#culture-options {
    background-color: #0c5460;
}

body, input, select, textarea {
    color: #777;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

a {
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #e89980;
    text-decoration: none;
}
a:hover {
    color:peru;
    border-bottom-color: beige;
    text-decoration: none;
}
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Container */
#nav-bg{
    background-color: #0c5460;
}
.container {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 60em;
}

@media screen and (max-width: 840px) {

    .container {
        width: 100% !important;
    }

}

@media screen and (max-width: 736px) {

    .container {
        max-width: 100%;
    }

}
/* Header */

/* Footer */

footer{
    margin-top: auto;
}
/* Wide */

@media screen and (max-width: 1680px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 13pt;
    }

}

/* Normal */

@media screen and (max-width: 1280px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11pt;
    }

}

/* Narrow */

@media screen and (max-width: 980px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11pt;
    }

}

/* Narrower */

@media screen and (max-width: 840px) {

    /* Basic */

    html, body {
        overflow-x: hidden;
    }

    body{
        font-size: 11pt;
    }


}
/* Mobile */

@media screen and (max-width: 736px) {

    /* Basic */

    body {
        font-size: 11pt;
    }
}

/* Mobile (Portrait) */

@media screen and (max-width: 480px) {

    /* Basic */

    html, body {
        min-width: 320px;
    }

    body {
        font-size: 11pt;
    }
}