@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
html, body, div, a, img, ul, li, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html, body {
    overflow: auto;
    min-height: 100%;
}
footer, header,  nav{
    display: block;
}
body {
    line-height: 1.6;
}
.hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.is-indented {
    text-indent: 20px;
}
.is-indented-2{
    text-indent: 40px;
}
hr{
    --tw-border-opacity: 1;
    border-color: #0d5460;
    max-width:100px;
}
.img-text{
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.card-full {
    background-color: transparent !important;
    border: 0;
}
.img-wrap {
    width: 200px;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.img-wrap > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
ul {
    list-style: none;
}
img{
    max-width:100%;
    max-height:100%;
}
.floatingimg{
    float: right;
}
body {
    -webkit-text-size-adjust: none;
}

/* Basic */
body {
    -ms-overflow-style: scrollbar;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

select#culture-options {
    background-color: #0c5460;
}

body, input, select, textarea {
    color: #777;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

a {
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #e89980;
    text-decoration: none;
}
a:hover {
    color:peru;
    border-bottom-color: beige;
    text-decoration: none;
}
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Container */
#nav-bg{
    background-color: #0c5460;
}
.main-container {
    margin: 0 auto;
    margin-top: 3em;
    max-width: calc(100% - 5em);
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
    margin-bottom: 10px;
}
.container {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 60em;
    font-size: 1.375rem;
    line-height: 2.125rem;
}

.first_container {
    margin: 0 auto;
    width: 100%;
}
.subtitle{
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}
.targetDiv{
    display: none;
}
.p_with_text{
    margin-bottom: 5px;
}
.hide{
    display: none;
}
.bottomize{
    bottom:0;
    position: absolute;
}
.align-center ul{
    display: inline-block;
    margin:0;
    padding:0;
    *display: inline;
}
.align-center ul li{
    float: left;
}
@media screen and (max-width: 840px) {

    .container {
        width: 100% !important;
    }

}

@media screen and (max-width: 736px) {

    .container {
        max-width: 100%;
    }

}
/* Header */
#lower-nav{
    clear:both;
}
/* Footer */

footer{
    clear: both;
    position: relative;
    height: 150px;
    margin-top: -150px;
}

/* Wide */

@media screen and (max-width: 1680px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 13pt;
    }

}

/* Normal */

@media screen and (max-width: 1280px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11pt;
    }

}

/* Narrow */

@media screen and (max-width: 980px) {

    /* Basic */

    body, input, select, textarea {
        font-size: 11pt;
    }

}

/* Narrower */

@media screen and (max-width: 840px) {

    /* Basic */

    html, body {
        overflow-x: hidden;
    }

    body{
        font-size: 11pt;
    }


}
/* Mobile */

@media screen and (max-width: 736px) {

    /* Basic */

    body {
        font-size: 11pt;
    }
}

/* Mobile (Portrait) */

@media screen and (max-width: 480px) {

    /* Basic */

    html, body {
        min-width: 320px;
    }

    body {
        font-size: 11pt;
    }
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coverdiv{
    text-align:center;
}
.cover {
    object-fit: cover;
    width: 100%;
    height:8em;
}